* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  font-weight: 500;
}

main {
  width: 80%;
  margin: 4rem auto 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
}

h1.bg-heading {
  font-size: 40px;
  font-weight: 700;
  width: 90%;
  padding: 2rem 0 0;
  margin: 0 auto;
}

h2.sm-heading {
  font-weight: 600;
}

.show-score-head {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

button[type='button'] {
  padding: 5px;
}

ul.lists {
  list-style: none;
  display: none;
  flex-direction: column;
  border: 3px solid #444;
  padding: 0;
}

.list-item {
  display: flex;
  column-gap: 0.3rem;
  padding: 5px;
}

.list-item:nth-child(even) {
  background-color: #f4f4f4;
}

.list-item h3 {
  font-size: 14px;
  font-weight: 600;
}

#form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

input[type='text'] {
  height: 30px;
  padding: 5px;
}

button[type='submit'] {
  width: 30%;
  align-self: flex-end;
  padding: 5px;
}

@media (min-width: 600px) {
  main {
    flex-direction: row;
    column-gap: 4rem;
  }

  #form {
    margin-top: 4rem;
  }

  h1.bg-heading {
    padding-left: 2rem;
  }
}
